body{
    text-align: center;
    background-image: url(https://img.freepik.com/fotos-gratis/artigos-de-papelaria-rosa-na-superficie-colorida_23-2148194622.jpg?t=st=1722363247~exp=1722366847~hmac=d40e4052df8875bfc333fb1c83e042c8c4c396e02e147619d1b3f8379dbb7815&w=1380);
    background-repeat: no-repeat;
    background-size: 100%;
    color: blueviolet;

}