{% extends "main_login.html" %}
{% block main %}
</div>
<div class="col-12">
    <form id="form">
        <div class="card">
            <div class="card-header">
                {{titulo}}
            </div>
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="name@example.com">
                    <label for="nome">Nome</label>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}